/*================ Base ================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth
}

ul {
    list-style: none;
}

a {
    text-decoration: none
}

button, input {
    border: none;
    outline: none;
}

/*======================================*/

.container {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__title {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-display: var(.75rem);
}

#search {
    text-align: center;
    padding: .75rem;
    width: 400px;
    border-radius: .5rem;
    background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

#search:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}


.button__filter {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2rem;  
}

.button__filter:hover {
  background-color: rgb(249,250,251);
}

.button__filter:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button__filter:focus-visible {
  box-shadow: none;
}

.task { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    min-height: 3rem;
    background-color: #ebebeb;
    border-radius: .25rem;
    border: 1px black solid;
    margin-bottom: 1rem;
}

